.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.35;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height:30px;
    padding: 10px;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    height:35px;
    width: 100%;
    border-radius: 20px;
}
.sidebar__searchContainer > input{
    border:none;
    margin-left: 10px;
    outline-width: 0;
}
.sidebar__searchContainer > .MuiSvgIconroot {
    color:gray;
    padding: 10px;
}
.sidebar__header{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebar__headerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}
.sidebar__headerRight > .MuiSvgIcon.root{
    margin-right: 2vw;
    font-size: 24px !important;/*!important is to override the material ui default font size*/
}
.sidebar__chats{
    
    background-color:white;
    flex: 1;
    overflow: scroll;
}